@import "../settings";

.page_notfound {
  min-height: 100vh;
  display: flex;
  flex-direction: column;

  .container_p {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    .number {
      font-size: 200px;
      font-weight: 700;
      color: $color-3;
      margin-top: 200px;

      @media (max-width: 335px) {
        font-size: 96px;
      }
    }

    .text {
      font-size: 25px;
      color: $color-3;
      margin-top: -50px;

      @media (max-width: 335px) {
        font-size: 18px;
        margin-top: 0;
        text-align: center;

        .break::after {
          content: "\A";
          white-space: pre;
        }
      }
    }

    .link {
      font-size: 18px;
      margin-top: 200px;
      margin-bottom: 200px;
      color: $color-1;

      @media (max-width: 335px) {
        font-size: 14px;
      }
    }
  }

  .footer {
    margin-top: auto;
  }
}
