@import "../settings";

.banniere {
  width: 100%;
  height: 150px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  position: relative; // Pour que l'élément soit le conteneur de positionnement pour ::before

  &.home {

    // Utilisation de ::before pour couvrir toute la bannière
    &::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: rgba(0, 0, 0, 0.5); // Couleur de fond sombre
      border-radius: 20px; // Appliquez la même bordure arrondie
      z-index: 1; // Place le fond sombre derrière le texte
    }
  }

  &.about {
    height: 150px; // Hauteur spécifique pour la page "About"
  }

  .banniere-text {
    color: white;
    font-size: 35px;
    font-weight: bold;
    position: relative; // Pour que le texte reste au-dessus de l'overlay
    z-index: 2; // Assurez-vous que le texte est au-dessus de l'overlay
  }
}
