@import "../settings";

.collapse {
  .collapse-container {
    width: 100%;

    &.collapse-description {
      width: 90%;

      @media (max-width: 820px) {
        width: 100%;
      }
    }
    &.collapse-equipement {
      width: 90%;
      margin-left: 10%;

      @media (max-width: 820px) {
        margin-left: 0;
        width: 100%;
      }
    }
  }

  
  .collapse-button {
    width: 100%;
    background-color: $color-3;
    color: $color-2;
    padding: 10px;
    border: none;
    text-align: left;
    font-size: 18px;
    font-weight: 600;
    cursor: pointer;
    outline: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: background-color 0.3s ease;
    border-radius: 5px;

    @media (max-width: 335px) {
      font-size: 13px;
    }
  }

  
  .collapse-icon {
    transition: transform 0.3s ease; // Ajoute une transition douce pour les transformations (comme la rotation) sur 0.3 secondes
    transform: rotate(
      0deg
    ); // Par défaut, l'icône est orientée vers le haut (rotation à 0 degrés)
  }

  
  .collapse-icon.open {
    transform: rotate(
      -180deg
    ); // Tourne l'icône de 180 degrés vers la gauche lorsque la section est ouverte
  }

  
  .collapse-content {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.3s ease-out, opacity 0.3s ease-out,
      padding 0.3s ease-out;

    padding: 0 10px;
    opacity: 0;
    background-color: $color-4;
    font-size: 16px;
    line-height: 1.5;
    visibility: hidden;

    &.show {
      max-height: 1000px;
      padding: 10px 10px;
      opacity: 1;
      visibility: visible;
      font-size: 13px;
    }
  }
}
