@import "../settings";

.navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;

  img {
    width: auto;
    height: 45px;
  }

  ul {
    display: flex;
    list-style-type: none;
    padding: 0;
    margin: 0;

    .nav-link {
      text-decoration: none;
      padding: 20px;
      position: relative;
      transition: color 0.3s ease;

      @media (max-width: 440px) {
        padding: 20px 5px;
      }

      li {
        color: $color-1;
        transition: color 0.3s ease;
        font-weight: 500;

        @media (max-width: 440px) {
          font-size: 15px;
        }
      }

      &.active li {
        border-bottom: 1px solid $color-1; // Trait en dessous pour indiquer l'état actif
      }
    }
  }
}
