* {
  font-family: "Montserrat", sans-serif;
}

$color-1: black;
$color-2: white;
$color-3: rgb(255, 96, 96);
$color-4: rgb(251, 251, 251);

body {
  margin: 0;
  padding: 0;
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.body {
  padding: 1% 4%;
}
